body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1b1b1b, #0d0d0d); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 90vw;
    height: 90vh;
    padding: 20px;
    background: linear-gradient(135deg, #3C3B3F, #605C3C); /* Dark grey to olive blend */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}


.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #001f3f, #0074D9);
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.tile h2 {
    margin: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

button {
    background: linear-gradient(135deg, #FF5733, #FFBD33);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    width: 45%;
}

button:hover {
    background: linear-gradient(135deg, #FFBD33, #FF5733);
}
